:root {
    --principale: #122641;
    --accentuation: #ff6600;
    --principale-clair: #1c4879;
    --principale-inter: #193C64;
    --black: #222222;
    --grey: #999999;
    --light-grey: #D9D9D9;
}